@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
   
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; /* Use Inter font */
    font-weight: 600;
}


body {
    background: var(--bg);
    color: var(--text)
}


html {
    font-size: 72.5%;
}

html::-webkit-scrollbar{
    display: none;
}

section {
    min-height: 100vh;
    overflow-x: hidden;
    
}


:root {
    --bg: #000;
    --text: #fff;
    --text2: #b08fcf;
    --accent: #8400fff8;
    --accent2: #8400ff86;
    --accent3: #8400ff31;
}

.main {
  background: 
    linear-gradient(to bottom, rgba(255, 0, 0, 0), #8400ff31),
    url(/Images/pattern.svg);
  
  background-blend-mode: overlay; /* Ensures both layers are visible */
}

.text {
    
    width: 100%;
    max-width: 75rem;
    font-size: 2rem;
    margin-left: 2vw;
    position: relative;
    transform: translateY(17.5vh);
    height: 45vh;
    z-index: 1;
    margin-top: 10vh;
}

.text h1 {
    font-size: 7.5rem;

}

.text h2 {
    font-size: 5rem;
    margin-top: .5vh;
    margin: 1vw;
    text-align: left;
    display: block;
    color: transparent; 
    background: linear-gradient(200deg, rgba(255, 255, 255), rgba(132, 0, 255, 0.502), rgba(255, 255, 255));
    background-size: 200%; 
    background-clip: text; 
    -webkit-background-clip: text; 
    animation: shine 7s infinite; 
    
}

.text h2 span {
    color: var(--text);
}

.text h3 {
    font-size: 1.5rem;
    margin-left: 1vw;
}

.social-media a{
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--accent2);
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--accent2);
    font-size: 1.75rem;
    color: var(--main-color);
    margin: 1vw 0vw 1vw 1vw;
    
}

.social-media .contact {
    border-radius: 10px;
    width: 10rem;
    height: 3.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
    color: #fff;
    font-size: 1.5rem;

}

.social-media a:hover {
   background: var(--accent2);
   transition: .5s;
}


.secondary {
    background-image: url(/Images/pattern.svg);
    position: relative;
    z-index: 1;
    overflow: hidden; /* Ensure no visual overflow */
}

.secondary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #8400ff31, #000000, #000000);
    z-index: -1; /* Ensure it is behind the content */
}



.keski {
    text-align: center;
    justify-content: center;
}

.keski h2 {
    margin-top: 15vh;
    font-size: 8rem;
    color: var(--text2);
}

.keski h2 span {
    color: transparent; 
    background: linear-gradient(200deg, rgba(255, 255, 255), rgba(132, 0, 255, 0.502), rgba(255, 255, 255));
    background-size: 200%; 
    background-clip: text; 
    -webkit-background-clip: text; 
    animation: shine 7s infinite; 
}

  
  


@keyframes shine {
    0% {
      background-position: 200%; /* Start off-screen to the left */
    }
    100% {
      background-position: -200%; /* End off-screen to the right */
    }
  }

@media (max-width: 768px) {
    html { 
        font-size: 50.5%;
    }


    .text {
        margin-left: 5vw;
    }
    .text h3 {
        font-size: 3.5rem;
    }
    .social-media a {
      width: 5rem;
      height: 5rem;
      font-size: 2.5rem;
    }
    .social-media .contact {
      width: 12rem;
      height: 5rem;
      font-size: 2rem;
    }
}



